.img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  object-fit: none; /* Ensure the entire image is visible */
}

.next,
.prev {
  position: absolute;
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust for perfect vertical centering */
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px; /* Place on the right edge */
}

.prev {
  left: 10px; /* Place on the left edge */
  transform: translateY(-50%) scale(-1); /* Flip horizontally and vertically center */
}