@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-xs: 12px;

  /* Colors */
  --miscellaneous-button-bezeled-fill: rgba(0, 122, 255, 0.15);
  --color-black: #000;

  /* Gaps */
  --gap-xl: 20px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-4xs: 9px;
  --padding-9xs: 4px;
}
